body {
    background-color: #f8f9fa; /* light gray */
    color: #212529; /* dark text */
}

.navbar-brand {
    font-size: 1.4rem;
    font-weight: bold;
}

.card {
    border-radius: 12px;
    margin-bottom: 1rem;
}
